@use '../../design-system/settings/spacing';

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.body {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
