@use '../../design-system/settings/spacing';

.layout {
	display: flex;
	flex-direction: column;
	padding: spacing.$xs;
	min-height: 100vh; /* Ensure the container takes up at least the height of the viewport */

	// Only first  div is a child of .layout
	div {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		padding: 5px;
	}
}
