@use '../../design-system/settings/sizes';
@use '../../design-system/settings/typography';
@use '../../design-system/settings/spacing';

.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font: typography.$b100-regular;
}
