@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/typography';

/** Center everything in the container, center also the text */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: fit-content;
	text-align: center;
	align-items: center;
}

.textProfile {
	margin-top: spacing.$xs;
}

.typography {
	font: typography.$b100-regular;
}
