@use '../settings/colors';
@use '../settings/typography';

.link {
	text-decoration: none;
	font: typography.$b200-bold;

	&:hover {
		color: colors.$state-active;
		text-decoration: none;
	}

	&:disabled {
		color: colors.$state-disabled;
	}

	&--primary {
		color: colors.$link;
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
		}
	}

	&--secondary {
		color: colors.$link;
	}

	&--tertiary {
		color: colors.$text-tertiary;
	}

	&--inverted {
		color: colors.$white;
		text-decoration: underline;
	}
}
